{% ckan_extends %}

{% block resource_item_explore %}
  {% if not url_is_edit %}
    <div class="btn-group">
      {% block resource_item_explore_links %}
        <a href="{{ url }}" class="btn btn-default">
          {% if res.has_views %}
            <i class="fa fa-bar-chart-o icon-bar-chart"></i>
            {{ _('Preview') }}
          {% else %}
            <i class="fa fa-info-circle icon-info-sign"></i>
            {{ _('More Info') }}
          {% endif %}
        </a>
        <a href="{{ res.url }}" class="btn btn-primary resource-url-analytics {% if 'Display' in res.accept_popup %} clickpopup {% endif %}" target="_blank">
          {% if res.resource_type in ('listing', 'service') %}
            <i class="fa fa-eye icon-eye-open"></i> {{ _('View') }}
          {% elif  res.resource_type == 'api' %}
            <i class="fa fa-key icon-key"></i> {{ _('API Endpoint') }}
          {% elif (not res.has_views or not res.can_be_previewed) and not res.url_type == 'upload' %}
            <i class="fa fa-external-link icon-external-link"></i> {{ _('Go to resource') }}
          {% else %}
            <i class="fa fa-arrow-circle-o-down icon-download"></i> {{ _('Download') }}
          {% endif %}
        </a>
      {% endblock %}
    </div>
  {% endif %}
{% endblock %}
